In [2]:
""" Q1. Create a python program to sort the given list of tuples based on integer value using a 
lambda function. 
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]"""



list_tup = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

new_list = sorted(list_tup, key=lambda x:x[1])

print(new_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [6]:
""" Write a Python Program to find the squares of all the numbers in the given list of integers using 
lambda and map functions.
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"""

listNum =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_listNum = list(map(lambda x:x**2, listNum))
new_listNum

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
"""Write a python program to convert the given list of integers into a tuple of strings. Use map and 
lambda functions
 Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')"""

l= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tup_l =  tuple(map(lambda x: str(x), l))

print("given string list",l)
print("the string tuple", tup_l)

given string list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
the string tuple ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [11]:
"""Write a python program using reduce function to compute the product of a list containing numbers 
from 1 to 25."""


from functools import reduce

num = list(range(1,26))
product_num = reduce(lambda x,y:x*y,num)

print("product 1 to 25 = ",product_num)

product 1 to 25 =  15511210043330985984000000

In [12]:
"""Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the 
filter function.
 [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]"""


list_num =  [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

newList = list(filter(lambda x:x%2==0 and x%3==0 , list_num))

print("Number divisible by 2 and 3",newList)

Number divisible by 2 and 3 [6, 60, 90, 120]

In [14]:
"""Write a python program to find palindromes in the given list of strings using lambda and filter 
function.
 ['python', 'php', 'aba', 'radar', 'level']"""


str_list = ['python', 'php', 'aba', 'radar', 'level']

palindrom_list = list(filter(lambda x: x== x[::-1], str_list))


print("Palindrom list",palindrom_list)

Palindrom list ['php', 'aba', 'radar', 'level']